.dash_content
  .dash_content__left
    %ul.dash_content__sidemenu
      %li
        %a.active{href: ""}
          hogehogehoge
      %li
        %a.active{href: ""}
          hogehogehoge
      %li
        %a.active{href: ""}
          hogehogehoge
      -# dash_content-right
      %li
        = link_to "メンタープランの登録はこちら"

  .dash_content__right
    .header_text
      学べる言語一覧
    = form_with(url: mentor_select_index_path, method: :get, local: true) do |f|
      .language   
        .language__content
          = f.label "language_htmlcss", "HTML/CSS"
          = f.radio_button :language, "HTML/CSS", class: "language__content_button"
        .language__content
          = f.label "language_ruby", "Ruby" 
          = f.radio_button :language, "Ruby", class: "language__content_button"
        .language__content
          = f.label "language_javascript", "Javascript" 
          = f.radio_button :language, "Javascript", class: "language__content_button"
        .language__content
          = f.label "language_python", "Python" 
          = f.radio_button :language, "Python", class: "language__content_button"
      .language 
        .language__content
          = f.label "language_go", "Go" 
          = f.radio_button :language, "Go", class: "language__content_button"
        .language__content
          = f.label "language_php", "PHP" 
          = f.radio_button :language, "PHP", class: "language__content_button"
        .language__content
          = f.label "language_java", "Java" 
          = f.radio_button :language, "Java", class: "language__content_button"
        .language__content
          = f.label "language_kotlin", "Kotlin" 
          = f.radio_button :language, "Kotlin", class: "language__content_button"
      .dash_content__right_btn
        = f.submit "メンターを探す", disabled: true, class: "submit_button"