.dash_content
  .dash_content__left
    %ul.dash_content__sidemenu
      %li
        %a.active{href: "https://menta.work"}
          %i.fas.fa-home
          ダッシュボード
      %li
        %a{href: "https://menta.work/member/message"}
          %i.far.fa-envelope
          メッセージ
      %li
        %a{href: "https://menta.work/member/mentor/contracting"}
          %i.fas.fa-chalkboard-teacher
          メンター
        %ul
          %li
            %a{href: "https://menta.work/member/mentor/contracting"} メンター
          %li
            %a{href: "https://menta.work/member/mentee/contracting"} メンティー
          %li
            %a{href: "https://menta.work/member/plan/edit"} メンタープランの登録
          %li
            %a{href: "https://menta.work/member/payment"} 売上履歴
          %li
            %a{href: "https://menta.work/member/charge"} 課金履歴
      %li
        %a{href: "https://menta.work/member/mentor/contracting"}
          %i.fas.fa-laptop-code
          ワーカー
        %ul
          %li
            %a{href: "https://menta.work/member/worker_plan/edit"} ワーカープランの登録
      %li
        %a{href: "https://menta.work/user/12255"}
          %i.fas.fa-id-card
          プロフィール
      %li
        %a{href: "https://menta.work/post"}
          %i.fas.fa-stream
          タイムライン
      %li
        %a{href: "https://menta.work/post?edit=1"}
          %i.far.fa-comments
          投稿したコンテンツ
      %li
        %a{href: "https://menta.work/member/config/profile"}
          %i.fas.fa-cog
          設定
    %p.small
      %a{href: "https://menta.work/member/plan/edit"} メンタープランの登録はこちら

      -# dash_content-right

  .dash_content__right
    .header_text
      学べる言語一覧
    = form_with(url: mentor_select_index_path, method: :get, local: true) do |f|
      .language   
        .language__content
          = f.label("HTML/CSS", "HTML/CSS")
          = f.radio_button :language, "HTML/CSS"
        .language__content
          = f.label("Ruby", "Ruby")
          = f.radio_button :language, "Ruby"
        .language__content
          = f.label("Javascript", "Javascript")
          = f.radio_button :language, "Javascript"
        .language__content
          = f.label("Pyhton", "Pyhton")
          = f.radio_button :language, "Pyhton"
        .language__content
          = f.label("Go", "Go")
          = f.radio_button :language, "Go"
        .language__content
          = f.label("PHP", "PHP")
          = f.radio_button :language, "PHP"
        .language__content
          = f.label("Java", "Java")
          = f.radio_button :language, "Java"
        .language__content
          = f.label("Kotlin", "Kotlin")
          = f.radio_button :language, "Kotlin"
      .dash_content__right_btn
        = f.submit("メンターを探す")

