.dash_content
  .dash_content__left
    %ul.dash_content__sidemenu
      %li
        %a.active{href: "https://menta.work"}
          %i.fas.fa-home
          ダッシュボード
      %li
        %a{href: "https://menta.work/member/message"}
          %i.far.fa-envelope
          メッセージ
      %li
        %a{href: "https://menta.work/member/mentor/contracting"}
          %i.fas.fa-chalkboard-teacher
          メンター
        %ul
          %li
            %a{href: "https://menta.work/member/mentor/contracting"} メンター
          %li
            %a{href: "https://menta.work/member/mentee/contracting"} メンティー
          %li
            %a{href: "https://menta.work/member/plan/edit"} メンタープランの登録
          %li
            %a{href: "https://menta.work/member/payment"} 売上履歴
          %li
            %a{href: "https://menta.work/member/charge"} 課金履歴
      %li
        %a{href: "https://menta.work/member/mentor/contracting"}
          %i.fas.fa-laptop-code
          ワーカー
        %ul
          %li
            %a{href: "https://menta.work/member/worker_plan/edit"} ワーカープランの登録
      %li
        %a{href: "https://menta.work/user/12255"}
          %i.fas.fa-id-card
          プロフィール
      %li
        %a{href: "https://menta.work/post"}
          %i.fas.fa-stream
          タイムライン
      %li
        %a{href: "https://menta.work/post?edit=1"}
          %i.far.fa-comments
          投稿したコンテンツ
      %li
        %a{href: "https://menta.work/member/config/profile"}
          %i.fas.fa-cog
          設定
    %p.small
      %a{href: "https://menta.work/member/plan/edit"} メンタープランの登録はこちら

      -# dash_content-right

  .dash_content__right
    .header_text
      学べる言語一覧
    .language      
      .language__content
        = link_to "HTML", "#", class: "language__content_link"
        = image_tag 'https://cdn.pixabay.com/photo/2019/08/14/09/53/consulting-4405260__480.jpg', alt: '', height: '100px', width: '100px', class: 'language__content_listimage'
      .language__content 
        = link_to "CSS", "#", class: "language__content_link"
        = image_tag 'https://cdn.pixabay.com/photo/2019/08/14/09/53/consulting-4405260__480.jpg', alt: '', height: '100px', width: '100px', class: 'language__content_listimage'
      .language__content
        = link_to "Ruby", "#", class: "language__content_link"
        = image_tag 'https://cdn.pixabay.com/photo/2019/08/14/09/53/consulting-4405260__480.jpg', alt: '', height: '100px', width: '100px', class: 'language__content_listimage'
      .language__content
        = link_to "Javascript", "#", class: "language__content_link"
        = image_tag 'https://cdn.pixabay.com/photo/2019/08/14/09/53/consulting-4405260__480.jpg', alt: '', height: '100px', width: '100px', class: 'language__content_listimage'
    .language      
      .language__content
        = link_to "Python", "#", class: "language__content_link"
        = image_tag 'https://cdn.pixabay.com/photo/2019/08/14/09/53/consulting-4405260__480.jpg', alt: '', height: '100px', width: '100px', class: 'language__content_listimage'
      .language__content 
        = link_to "Go", "#", class: "language__content_link"
        = image_tag 'https://cdn.pixabay.com/photo/2019/08/14/09/53/consulting-4405260__480.jpg', alt: '', height: '100px', width: '100px', class: 'language__content_listimage'
      .language__content
        = link_to "PHP", "#", class: "language__content_link"
        = image_tag 'https://cdn.pixabay.com/photo/2019/08/14/09/53/consulting-4405260__480.jpg', alt: '', height: '100px', width: '100px', class: 'language__content_listimage'
      .language__content
        = link_to "C", "#", class: "language__content_link"
        = image_tag 'https://cdn.pixabay.com/photo/2019/08/14/09/53/consulting-4405260__480.jpg', alt: '', height: '100px', width: '100px', class: 'language__content_listimage'
    .dash_content__right_btn 
      = button_to('チャットを始める', "#{chats_path}", disabled: true)

