%main.main.container.mt-5
  .main__view.d-flex.justify-content-start.row
    .intro.col-lg-6.mb-5
      %h1.text.text-info.display-4.font-weight-bold プログラミングの
      .text-info.display-4.font-weight-bold 先輩メンターに
      .text-info.display-4.font-weight-bold 相談しよう
      %p.col-6  プログラミングは難しいと諦めていませんか？
      %p.col-6 あなたと共に歩みを進めるメンターがいます！まずは登録してみましょう！
      = link_to "ユーザー登録をする", new_user_registration_path, class: "first_registration_link btn btn-info btn-lg mt-5 mx-auto d-block", style: "width:300px;"
      .mentor_registration.text-info.text-center.d-block.mt-4.mb-5
        = link_to "メンターとして登録したい方はこちら", top_path, class: "mentor__top_link"

    .main__view_content.col-lg-6.mb-5
      .content_image.d-flex
        = image_tag "https://cdn.pixabay.com/photo/2017/10/28/00/23/mentor-icon-2895941__480.png", class: "img-fluid d-none d-lg-block main_image", alt: ""
  
  .main__content.container
    .main__under_content
      .h3.text-center.text-info.my-4
        プログラミング言語から探す 
      = render "shared/skill_btn"

  .main__content.container
    .main__under_content
      .h3.text-center.text-info.my-5
        新着メンターから探す
      .mentor__box.row.mt-5.bg-light.d-flex.justify-content-center
        - @plans.each do |plan|
          .col-lg-3.bg-white.mx-3.my-3.shadow{style: "height: 250px;"}
            = link_to image_tag("#{plan.user.image_icon}", style: "width: 40px; height: 40px; border-radius: 50%; margin: 10px;", onerror: "this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRQfY6o0sCSzzGmKM5M23o8EJVUSeu1sq1bJcddtlZDGPip9A36'"), plan_path(plan.id), alt: "プロフィール写真"
            = link_to "#{plan.user.name}", plan_path(plan.id), class: "user__name_link"
            .col-12 
              = link_to "#{plan.title}", plan_path(plan.id), class: "plan_title_link", style: "word-wrap: break-word;"
            - plan.plan_skill_tags.each do |tag|
              - if tag.skill.skill_set
                .badge.badge-pill.badge-info
                  = link_to(tag.skill.skill_set,
                            skills_path(id: tag.skill.id),
                            class: "tag__link_sm text-white",
                            style: "word-wrap: break-word;")
            .col-12.position-absolute.fixed-bottom.mb-2
              = "料金 #{plan.price}円" 
      = link_to "メンターを探す", all_mentor_plans_path, class: "find_mentors_btn btn btn-outline-info btn-lg mx-auto my-5 d-block", style: "width:400px;"
        
  .btn__wrapper.row.mt-5
    .user.container
      .user__box.row.mt-5
        .col-md-4.text-center
          %i.fas.fa-globe-asia.text-info.display-4
          .icon_title.text-info オンラインを利用
          %p.mb-5 オンラインによる形式なのでいつでもどこでもプログラミングが学べます。
        .col-md-4.text-center
          %i.fas.fa-chalkboard-teacher.text-info.display-4
          .icon_title.text-info 個別指導
          %p.mb-5 １対１でのやりとりですので個人にあった形式で指導を受けることができます。
        .col-md-4.text-center
          %i.fas.fa-yen-sign.text-info.display-4
          .icon_title.text-info リーズナブル
          %p.mb-5 メンターと直接契約ですのでリーズナブルに指導を受けることができます。
        = link_to "ユーザー登録をする", new_user_registration_path, class: "second_registration_link btn btn-info btn-lg my-5 mx-auto d-block", style: "width:400px;"



