.mentor_select
- if @mentor_selects === [] 
  申し訳ありません。現在メンターがいません。
  = link_to "メイン画面に戻る", "#{main_index_path}"
- else
  = "#{@mentor_selects[0].language}が得意なメンター"
  - @mentor_selects.each do |m|
    = link_to "#{m.name}さんの詳細を見る", "/mentor_select/#{m.id}"
  = link_to "メイン画面に戻る", "#{main_index_path}"