.mentor_select
- if @mentor_selects === [] 
  = link_to "メイン画面に戻る", "#{main_index_path}"
  %main{role: "main"}
  / Main jumbotron for a primary marketing message or call to action
  .jumbotron.bg-light
    .container
      %h1.display-4.my-4.text-center.font-weight-bold.text-info
        申し訳ありません。現在メンターがいません。
        = link_to "メンターを募集する", "#"
  .container
    / Example row of columns
    .row
      .col-12
        %h2.display-4.py-2 あなたにおすすめのメンター
        %p.text-break 
      .col-md-4
        %h2 piyo
        %p.text-break  piyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyo
        %p
          %a.btn.btn-info{href: "#", role: "button"} View details »
      .col-md-4
        %h2 foo
        %p.text-break  foofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoo
        %p
          %a.btn.btn-info{href: "#", role: "button"} View details »
    %hr/
    .row
      .col-md-4.text-justify
        %h2 fuga
        %p.text-break fugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafugafuga
        %p
          %a.btn.btn-info{href: "#", role: "button"} View details »
      .col-md-4
        %h2 piyo
        %p.text-break  piyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyopiyo
        %p
          %a.btn.btn-info{href: "#", role: "button"} View details »
      .col-md-4
        %h2 foo
        %p.text-break  foofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoofoo
        %p
          %a.btn.btn-info{href: "#", role: "button"} View details »
    %hr/
  / /container



- else
  = link_to "メイン画面に戻る", "#{main_index_path}"
  %main{role: "main"}
  / Main jumbotron for a primary marketing message or call to action
  .jumbotron.bg-light
    .container
      %h1.display-4.my-4.text-center.font-weight-bold.text-info
        = "#{@mentor_selects[0].language}が得意なメンター"
      
  .container
    .font-weight-bold.px-5
      = "#{@mentor_selects.length}人のメンターがみつかりました。"
    / Example row of columns
    .row
      .col-12
        %h2 
        - @mentor_selects.each do |m|
          .border.rounded.my-5
            = link_to "#{m.name}さん", "/mentor_select/#{m.id}", class: "h2"
            %p.text-break.py-3 hogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehoge
            %p
              %a.btn.btn-info{href: "/mentor_select/#{m.id}", role: "button", class: "col-3 py-2 my-3"} 詳細を見る »
      
