


= link_to "メイン画面に戻る", "#{main_index_path}"


.container
  .row
    .col-12.display-4.font-weight-bold
      = "#{@mentor_selects.name}さんの詳細ページです"
      .font-weight-bold.text-info 得意な言語
      = "#{@mentor_selects.language}"
      = link_to "#{@mentor_selects.name}さんとチャットを開始する", "#{chats_path}"
      %h2.display-4.py-2     
      %p.text-break 
    