<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="container my-5">
    <div class="row">
      <div class="col-12">
        <div class="bg-white py-5 shadow-sm" >
          <div class="h1 text-info text-center font-weight-bold py-5">SIGN UP!</div>
          
          <div class="field text-center">
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "bg-light rounded form-control-lg", placeholder: "ユーザーネーム" %>
          </div>

          <div class="field text-center mt-3">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "bg-light rounded form-control-lg", placeholder: "Eメール" %>
          </div>

          <div class="field text-center mt-3">
            <%= f.password_field :password, autocomplete: "new-password", class: "bg-light rounded form-control-lg", placeholder: "パスワード" %>
          </div>

          <div class="field text-center mt-3 mb-5">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "bg-light rounded form-control-lg", placeholder: "パスワード(確認用)" %>
          </div>

          <div class="actions text-center">
            <%= f.submit "登録する", class: "col-6 col-md-3 btn btn-info rounded mb-5" %>
          </div>
          
          <%= render "devise/shared/links" %>

        </div>
      </div>
    </div>
  </div>
<% end %>

