.container
  .row
    .col-8.bg-white.mx-3.my-5.shadow-sm{style: "height: 100vh;"}
      .col-12.d-flex.justify-content-end.pt-4.border-bottom{style: "height: 60px;"}
        - if @article.user.id == current_user.id
          .mx-3
            %i.fas.fa-edit.mr-3
              = link_to "記事を編集する", edit_article_path, class: "article__edit_link"
            %i.fas.fa-trash
              .article__destroy_link.d-inline(data-toggle="modal" data-target="#modal")
                削除する
            .modal.fade#modal(tabindex="-1" role="dialog" aria-labelledby="centerModal" aria-hidden="true")
              .modal-dialog.modal-dialog-centered{role: "document"}
                .modal-content
                  .modal-header
                    本当に削除しますか？
                  %button.close(data-dismiss="modal" aria-label="Close")
                    %span(aria-hidden="true")
                  .modal-body
                    削除するボタンを押すと、この投稿が削除されます
                  .modal-footer
                    = link_to "削除する", article_path, method: :delete, class: "btn btn-danger mx-auto"
      .col-12.my-3{style: "height: 300px;"}
        .h1.text-wrap.text-break
          = @article.title
        .my-3.d-flex.align-items-center
          = image_tag "#{@article.user.image_icon}", class: "shadow-sm", onerror: "this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRQfY6o0sCSzzGmKM5M23o8EJVUSeu1sq1bJcddtlZDGPip9A36'", style: "width: 40px; height: 40px; border-radius: 50%;"
          .mx-3
            = @article.user.name
      .col-12.text-wrap.text-break
        = @article.content
    .col-3.bg-white.mx-3.my-5.shadow-sm{style: "height: 80vh"}