.container
  .row.py-5
    = render "layouts/sidebar"
    .col-9
      = form_with model: @user, local: true do |f|
        .row
          .h2.text-info.mb-5 プロフィール
        = render partial: "shared/errors", locals: { target: @user }
        .row.bg-white.shadow 
          .form-group.col-6.mt-4
            .d-flex.align-items-center
              .h3.mr-2 ユーザーネーム
              .h6.badge.badge-danger 
                必須
              %span.text-muted.h6 （20字以内）
            .user_name.text-muted 
              = f.text_field :name, class: "form-control", required: true, maxlength: "20"
          .form-group.col-12
            .h3 イメージアイコン
            .image_icon.text-muted 
              あなたをイメージさせるような画像を掲載しましょう！
            %label.col-12{for: "image_icon"}
              .upload__back.bg-light{style: "height: 200px;"}
                %i.far.fa-image.mx-5.my-3
                  クリックしてイメージ画像を選択
                = f.file_field :image_icon, class: "d-none", id: "image_icon"
                - if @user.image_icon.present?
                  = image_tag "#{@user.image_icon}", id: "img_prev", style: "width: 200px; height: 200px; border-radius: 50%;", class: "ml-5 shadow-sm"
                - else
                  = image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRQfY6o0sCSzzGmKM5M23o8EJVUSeu1sq1bJcddtlZDGPip9A36", id: "img_prev", style: "width: 200px; height: 200px; border-radius: 50%;", class: "ml-5 shadow-sm"

          .form-group.col-12 
            .h3 自己紹介
            .introduce.text-muted 自己紹介は500文字以内で記入してください。
            = f.text_area :introduce, placeholder: "自己紹介文を記入してください", class: "form-control", rows: "12", maxlength: "500"
        .row.bg-light 
          .form-group.mx-auto.my-5
            = f.submit "保存する", class: "btn btn-info btn-lg"