.container
  .row
    .col-12.bg-light{style: "height: 50px;"}

    = render 'layouts/sidebar'
    
    .col-9.bg-light
      .col-12.bg-white.mb-3.d-flex.align-items-center.shadow{style: "height: 80px;"} ここには運営からのnewsが表示されます。
      .mb-3{style: "height: 220px;"}
        %ul.slider.d-flex{style: "width: 100%; height: 100%;"}
          %li
            =image_tag "https://cdn.pixabay.com/photo/2018/08/16/11/36/mentor-3610255__480.jpg", style: "height: 220px; width: 100%;"
          %li
            =image_tag "https://cdn.pixabay.com/photo/2018/07/13/18/48/career-3536331__480.jpg", style: "height: 220px; width: 100%;"
          %li
            =image_tag "https://cdn.pixabay.com/photo/2014/08/10/08/05/speakers-414560__480.jpg", style: "height: 220px; width: 100%;"
      .col-12.bg-white.mb-3.shadow{style: "height: 250px;"} 詳細ページ
      .py-3
        メンター
      - if @plans[0..2] != nil
        .my-3.d-flex
          - @plans[0..2].each do |plan|
            .col-4.bg-white.mx-1.shadow{style: "height: 220px;"}
              .d-flex.align-items-center
                = link_to image_tag("#{plan.user.image_icon}", onerror: "this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRQfY6o0sCSzzGmKM5M23o8EJVUSeu1sq1bJcddtlZDGPip9A36'", style: "width: 40px; height: 40px; border-radius: 50%;"), plan_path(plan.id), style: "width: 75px; height: 75px; border-radius: 50%;", class: "mt-3"
                = link_to "#{plan.user.name}", plan_path(plan.id), class: "user__name_link"
              = link_to "#{plan.title}", plan_path(plan.id), class: "plan__show_link", style: "word-wrap: break-word;"
      - if @plans[3..5] != nil
        .my-3.d-flex
          - @plans[3..5].each do |plan|
            .col-4.bg-white.mx-1.shadow{style: "height: 220px;"}
              .d-flex.align-items-center
                = link_to image_tag("#{plan.user.image_icon}", onerror: "this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRQfY6o0sCSzzGmKM5M23o8EJVUSeu1sq1bJcddtlZDGPip9A36'", style: "width: 40px; height: 40px; border-radius: 50%;"), plan_path(plan.id), style: "width: 75px; height: 75px; border-radius: 50%;", class: "mt-3"
                = link_to "#{plan.user.name}", plan_path(plan.id), class: "user__name_link"
              = link_to "#{plan.title}", plan_path(plan.id), class: "plan__show_link", style: "word-wrap: break-word;"
        .text-muted.my-4
          = link_to "もっとみる", all_mentor_plans_path, class: "mentor__link"
      = render "shared/skill_btn"
      .pt-5
        タイムライン
      .col-12.my-4{style: "height: 500px;"}
        - if @articles[0..1] != nil
          .my-3.d-flex
            - @articles[0..1].each do |article|
              .col-6.bg-white.mx-1.shadow{style: "height: 220px;"}
                .d-block.my-3.text-wrap.text-break{style: "height: 100px;"}
                  = link_to "#{article.title}", article_path(article.id), class: "article__show_link"
                .d-flex.align-items-center
                  = link_to image_tag("#{article.user.image_icon}", onerror: "this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRQfY6o0sCSzzGmKM5M23o8EJVUSeu1sq1bJcddtlZDGPip9A36'", style: "width: 40px; height: 40px; border-radius: 50%;"), user_path(article.user.id)
                  = link_to "#{article.user.name}", user_path(article.user.id), class: "user__name_link"
        - if @articles[2..3] != nil
          .my-3.d-flex
            - @articles[2..3].each do |article|
              .col-6.bg-white.mx-1.shadow{style: "height: 220px;"}
                .d-block.my-3.text-wrap.text-break{style: "height: 100px;"}
                  = link_to "#{article.title}", article_path(article.id), class: "article__show_link"
                .d-flex.align-items-center
                  = link_to image_tag("#{article.user.image_icon}", onerror: "this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRQfY6o0sCSzzGmKM5M23o8EJVUSeu1sq1bJcddtlZDGPip9A36'", style: "width: 40px; height: 40px; border-radius: 50%;"), user_path(article.user.id)
                  = link_to "#{article.user.name}", user_path(article.user.id), class: "user__name_link"

