.bg-info.text-white.h3
  .container.d-flex.py-5
    = image_tag "#{@user.image_icon}", style: "width: 100px;, height: 100px; border-radius: 50%;"
    .mx-4{style: "height: 100px;"}
      = "#{@user.name}"
.container
  .row
    .col-12 
    .col-12.d-flex 
      .col-8.container.my-5
        .row.bg-white.shadow
          .col-12
            得意なスキル
          - if user_signed_in? && current_user.id == @user.id
            .col-12
              = link_to "投稿しているプラン", plans_path, class: "plan__index_link"
            .col-12
              .d-flex.justify-content-end
                %i.fas.fa-edit
                = link_to "プロフィールを編集する", edit_user_path, class: "profile__edit_link"
        - if user_signed_in? && current_user.id == @user.id  
          .col-12.my-5.text-center
            = link_to "退会する", delete_confirm_user_path, class: "user__delete_confirm"
      .col-4 詳細サブ 
    .col-12
