.row.bg-light.mb-3.d-flex.justify-content-center.text-center.h5
  .col-md-6.col-lg-3
    .bg-white.mb-1.d-flex.align-items-center.shadow{style: "height: 100px;"} 
      .col-12
        %i.far.fa-file-code.text-info
        = link_to "HTML/CSS", skills_path(id: 1), class: "skill__btn htmlcss"
  .col-md-6.col-lg-3  
    .bg-white.mb-1.d-flex.align-items-center.shadow{style: "height: 100px;"} 
      .col-12
        %i.far.fa-gem.text-info
        = link_to "Ruby", skills_path(id: 2), class: "skill__btn ruby"
  .col-md-6.col-lg-3
    .bg-white.mb-1.d-flex.align-items-center.shadow{style: "height: 100px;"} 
      .col-12
        %i.fab.fa-js.text-info
        = link_to "JavaScript", skills_path(id: 3), class: "skill__btn javascript"
  .col-md-6.col-lg-3  
    .bg-white.mb-1.d-flex.align-items-center.shadow{style: "height: 100px;"} 
      .col-12
        %i.fab.fa-python.text-info
        = link_to "Python", skills_path(id: 4), class: "skill__btn python"
.row.bg-light.mb-3.d-flex.justify-content-center.text-center.h5
  .col-md-6.col-lg-3
    .bg-white.mb-1.d-flex.align-items-center.shadow{style: "height: 100px;"}
      .col-12
        %i.fab.fa-php.text-info
        = link_to "PHP", skills_path(id: 5), class: "skill__btn php"
  .col-md-6.col-lg-3  
    .bg-white.mb-1.d-flex.align-items-center.shadow{style: "height: 100px;"}
      .col-12
        %i.fab.fa-java.text-info
        = link_to "Java", skills_path(id: 6), class: "skill__btn java"
  .col-md-6.col-lg-3  
    .bg-white.mb-1.d-flex.align-items-center.shadow{style: "height: 100px;"}
      .col-12
        %i.fas.fa-database.text-info
        = link_to "SQL", skills_path(id: 7), class: "skill__btn sql"
  .col-md-6.col-lg-3  
    .bg-white.mb-1.d-flex.align-items-center.shadow{style: "height: 100px;"}
      .col-12
        %i.fas.fa-laptop-code.text-info
        = link_to "その他", skills_path(id: 8), class: "skill__btn other"