<h1>メンター</h1>
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field text-center pt-5">
    <%= f.label :お名前 %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "rounded form-control-lg", placeholder: "メンタ太郎" %>
  </div>

  <div class="field text-center mt-2">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded form-control-lg", placeholder: "sample@mail.com" %>
  </div>

  <div class="field text-center mt-3">
    <%= f.label "得意な言語" %><br />
    <%= f.select :language, [["HTML/CSS", "HTML/CSS"], ["Ruby", "Ruby"], ["JavaScript", "JavaScript"], ["Python", "Python"], ["Go", "Go"], ["PHP", "PHP"], ["Java", "Java"], ["Kotlin", "Kotlin"]] %>
  </div>

  <div class="field text-center mt-3">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "rounded form-control-lg"%>
  </div>

  <div class="field text-center mt-3 mb-5">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "rounded form-control-lg", placeholder: "password(再確認)" %>
  </div>

  <div class="actions text-center mt-3">
    <%= f.submit "Sign up", class: "col-5 rounded btn btn-info" %>
  </div>
<% end %>

<%= render "mentors/shared/links" %>
