<div class="container">
  <div class="row">
    <div class="col-12 bg-white my-5 shadow-sm">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        
        <div class="field">
         <div class="font-weight-bold">テストアドレス : test@1</div>
         <div class="font-weight-bold">テストパスワード : 11111111</div>
         <div class="font-weight-bold">万が一テストユーザーが削除されている場合はアドレス : test@＊（＊に数字を入れてください）パスワード : 11111111でログインできます。</div>
        </div>

        <div class="field pt-5 text-center">
         <div class="text-info h1 font-weight-bold">LOGIN</div>
        </div>

        <div class="field pt-5 text-center">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded form-control-lg bg-light", placeholder: "Eメール" %>
        </div>

        <div class="field text-center mt-3">
          <%= f.password_field :password, autocomplete: "current-password", class: "rounded form-control-lg bg-light", placeholder: "パスワード" %>
        </div>

        <div class="actions text-center mt-4">
          <%= f.submit "ログイン", class: "login__main_btn col-6 col-md-3 btn btn-info btn-lg rounded" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field text-center mt-2 mb-4 text-muted">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "ログインしたままにする" %>
          </div>
        <% end %>

      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

