<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field pt-5 text-center">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded form-control-lg", placeholder: "sample@mail.com" %>
  </div>

  <div class="field text-center mt-3">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "rounded form-control-lg" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field text-center mt-2 mb-4">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions text-center">
    <%= f.submit "ログイン", class: "col-5 col-sm-4 col-md-3 col-lg-2 btn btn-info btn-lg rounded" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
