.row.bg-white.shadow 
  .form-group.col-12.mt-4
    .d-flex.align-items-center
      .h4.mr-2 タイトル
      .h6.badge.badge-danger 
        必須
      %span.text-muted.h6 （10文字以上80文字以内）

    .title_description.text-muted 提供できる内容をわかりやすく記載しましょう！
    .title_btn
      = f.text_field :title, placeholder: "初心者サポートします！", class: "form-control", required: true, minlength: "10", maxlength: "80"
  .form-group.col-12 
    .h3 プラン画像
    .image_description.text-muted 
      イメージ画像を掲載しましょう！
    %label.col-12{for: "plan_plan_image"}
      .upload__back.bg-light{style: "height: 200px;"}
        %i.far.fa-image.mx-3.my-3
          クリックしてイメージ画像を選択
        = f.file_field :plan_image, class: "d-none"
  .form-group.col-12
    .h3 タグ
    .title_btn
      .tags.d-flex
        = f.fields_for :skills do |i|
          = i.label :skill_set, "スキル"
          = i.text_field :skill_set, id: "formTagInput", class: "form-control"
      .title_description.text-danger 登録すると検索されやすくなるため成約率が上がります！
      .title_description.mb-3.text-muted 最大5件まで登録できます 例）Ruby PHP
  .form-group.col-12 
    .d-flex.align-items-center
      .h3.mr-1 プラン説明
      .h6.badge.badge-danger 必須
    .plan_description.text-muted 2,000文字以内。
    = f.text_area :description, placeholder: "プランの説明を記入して下さい", class: "form-control", rows: "12", required: true, maxlength: "2000"
  .form-group.col-4 
    .d-flex.align-items-center
      .h3.mr-2 金額
      .h6.badge.badge-danger 必須
    .h6.text-muted 1,000円以上1,000,000円以下
    = f.number_field :price, placeholder: "10000", class: "form-control", required: true, min: "1000", max: "1000000"
    %span.float-right 円／月
    = f.fields_for :users_plans do |i|  
      = i.hidden_field :user_id, value: current_user.id