.container
  .row
    .col-12.bg-light.d-flex.my-5
      .col-3
        .col-12.bg-white.shadow.m-2{style: "height: 300px;"}
          TAG 
        .col-12.bg-white.shadow.m-2{style: "height: 300px;"} 
          CATEGORY
      .col-6
        .col-12.bg-light.text-info.font-weight-bold.h4.mx-2
          プラン
        .col-12.mx-2{style: "height: 50px;"}
          あなたの教えを待っている人がいます！
        .col-12.bg-white.shadow.d-flex.align-items-center.mx-2{style: "height: 100px;"}
          .col-9 
            プランを登録しましょう
          .col-3
            = link_to "登録する", new_plan_path, class: "btn btn-outline-info"
        .col-12
          - Plan.all.each do |plan|
            - if plan.user_id == current_user.id
              .col-12.bg-white.shadow.mt-3
                .py-3.text-center
                  = image_tag "#{plan.plan_image}"
                .pb-5
                  = link_to "#{plan.title}", plan_path(plan.id), class: "plan__show_link"
        .col-12.mt-3
      .col-3 
        .col-12.bg-white.shadow.m-2{style: "height: 150px;"}
          メンター募集
        .col-12.bg-white.shadow.m-2{style: "height: 150px;"}
          勉強中