.container
  .row
    .col-12.bg-light.d-flex.my-5
      .col-3
        = render partial: "shared/left_box", locals: { skills: @skills }
      .col-6
        .col-12.bg-light.text-info.font-weight-bold.h4.mx-2
          プラン
        .col-12.mx-2{style: "height: 50px;"}
          あなたの教えを待っている人がいます！
        .col-12.bg-white.shadow.d-flex.align-items-center.mx-2{style: "height: 100px;"}
          .col-9 
            プランを登録しましょう
          .col-3
            = link_to "登録する", new_plan_path, class: "btn btn-outline-info"
        .col-12
          - @plans.each do |plan|
            .col-12.bg-white.shadow.mt-3
              .d-flex
                .py-3
                  = link_to image_tag("#{plan.plan_image}", onerror: "this.src='https://www.silhouette-illust.com/wp-content/uploads/2017/01/book_pen_23791-300x300.jpg'", style: "height: 70px; width: 70px; border-radius: 50%;"), plan_path(plan.id), class: "plan__show_link"
                .py-3.h5
                  = link_to "#{plan.title}", plan_path(plan.id), class: "plan__show_link plan__show_link_title", style: "word-wrap: break-word"
        .col-12.mt-3
      .col-3 
        = render "shared/right_box"