.container
  .row
    .col-12.mt-5
    = render "layouts/sidebar"
    .col-9
      = form_with model: @plan, local: true do |f|
        .row.mt-5
          .h2.text-info メンタープラン登録
          .mb-5.col-12 プランを登録するとメンターとして掲載されます。
        .row.bg-white.shadow 
          .form-group.col-12.mt-4
            .h4 
              タイトル
              %span.text-muted.h6 （10文字以上80文字以下）

            .title_description.text-muted 提供できる内容をわかりやすく記載しましょう！
            .title_btn
              = f.text_field :title, placeholder: "初心者サポートします！", class: "form-control"
          .form-group.col-12 
            .h3 プラン画像
            .image_description.text-muted 
              イメージ画像を掲載しましょう！
            %label{for: "plan_plan_image"}
              .upload__back.bg-light{style: "width: 830px; height: 200px;"}
                %i.far.fa-image.mx-3.my-3
                  クリックしてイメージ画像を選択
                = f.file_field :plan_image, class: "d-none"
          .form-group.col-12
            .h3 タグ
            .title_btn
              = f.collection_check_boxes(:skill_ids, Skill.all, :id, :skill_set, class: "form-control") do |skill|
                = skill.check_box
                = skill.text
              .title_description.text-danger 登録すると検索されやすくなるため成約率が上がります！
              .title_description.mb-3.text-muted 最大5件まで登録できます 例）Ruby PHP
          .form-group.col-12 
            .h3 プラン
            .plan_description.text-muted プラン内容は2,000文字以内。
            = f.text_area :description, placeholder: "プラン内容を記入して下さい", class: "form-control", id: "exampleFormControlTextarea1", rows: "12"
          .form-group.col-4 
            .h3 金額
            = f.text_field :price, placeholder: "10,000", class: "form-control"
            %span.float-right 円／月
        .row.bg-light 
          .form-group.mx-auto.my-5
            = f.submit "登録する", class: "btn btn-info btn-lg"