.container
  .row
    .col-12.mt-5
    = render "layouts/sidebar"
    .col-9
      = form_with model: @plan, local: true do |f|
        .row.mt-5
          .h2.text-info メンタープラン登録
          .mb-5.col-12 プランを登録するとメンターとして掲載されます。
        = render partial: "shared/errors", locals: { target: @plan }
        = render partial: "plan_form", locals: { f: f }
        .row.bg-light 
          .form-group.mx-auto.my-5
            = f.submit "登録する", class: "btn btn-info btn-lg"