.container
  .row.my-5
    .col-12.d-lg-flex.my-5
      .col-lg-3.bg-white.shadow.mx-2{style: "height: 80vh; overflow: scroll;"}
        = image_tag "#{@user.image_icon}", class: "mx-auto d-block my-3 shadow", style: "width: 150px; height: 150px; border-radius: 50%;", onerror: "this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRQfY6o0sCSzzGmKM5M23o8EJVUSeu1sq1bJcddtlZDGPip9A36'"
        .h4.text-center
          = link_to "#{@user.name}", user_path(id: "#{@user.id}"), class: "user__show_link"
        - if user_signed_in? && current_user.id == @user.id
          .text-center.mt-5
            = link_to "プランを編集する", edit_plan_path(params[:id]), class: "btn btn-outline-info"
        - if user_signed_in? && current_user.id != @user.id
          .col-12.text-center.my-3
            = render partial: "relationships/follow_button", locals: { user: @user }            
            = render "messages/new"
      .col-lg-9.bg-white.shadow.mx-2{style: "word-wrap: break-word;"}
        .m-3
          - @plan.plan_skill_tags.each do |tag|
            - if tag.skill.skill_set != ""
              %span.badge.badge-pill.badge-info
                = link_to(tag.skill.skill_set,
                          skills_path(id: tag.skill.id),
                          class: "tag__link_sm text-white")
        .h1.my-3.pt-3
          = "#{@plan.title}"
        .h2.my-5.text-center
          = image_tag "#{@plan.plan_image}", class: "shadow", onerror: "this.src='https://www.silhouette-illust.com/wp-content/uploads/2017/01/book_pen_23791-300x300.jpg'"
        .border.p-3.shadow-sm  
          .text-info
            プラン説明
          .h2.my-5  
            = "#{@plan.description}"
          .text-info
            金額
          .h5.my-5.pb-5
            = "#{@plan.price} 円／月"
        .border.my-3.p-3.shadow-sm  
          .text-info
            自己紹介
          .h2.my-5.pb-5
            = "#{@user.introduce}"
