.col-3.bg-light.mh-100
  %ul
    %li
      %i.fas.fa-home
      = link_to "ダッシュボード", users_path, class: "side__menu"
    %li
      %i.far.fa-address-card
      = link_to "プロフィール", user_path(current_user.id), class: "side__menu"
    %li
      %i.far.fa-comments
      // Planを投稿していればプラン一覧へ、投稿していなければ投稿を促す画面へ
      - if @plan_user_id == current_user.id
        = link_to "投稿したプラン", plans_path(current_user.id), class: "side__menu"
      - else
        = link_to "投稿したプラン(仮)", noting_plan_path(current_user.id), class: "side__menu"
    %li
      %i.fas.fa-user-cog
      = link_to "設定", edit_user_path(current_user.id), class: "side__menu"
    %li.mt-2
      = link_to "メンタープランの登録はこちら", new_plan_path, class: "mentor__plan_registration"