.col-12.bg-light.mb-3.d-flex.justify-content-around.text-center.h5{style: "height: 100px;"} 
  .col-3.bg-white.mx-1.d-flex.align-items-center
    .col-12
      %i.far.fa-file-code.text-info
      = link_to "HTML/CSS", "#", class: "skill__btn"
  .col-3.bg-white.mx-1.d-flex.align-items-center
    .col-12
      %i.far.fa-gem.text-info
      = link_to "Ruby", "#", class: "skill__btn"
  .col-3.bg-white.mx-1.d-flex.align-items-center
    .col-12
      %i.fab.fa-js.text-info
      = link_to "JavaScript", "#", class: "skill__btn"
  .col-3.bg-white.mx-1.d-flex.align-items-center
    .col-12
      %i.fab.fa-python.text-info
      = link_to "Python", "#", class: "skill__btn"
.col-12.bg-light.mb-3.d-flex.justify-content-around.text-center.h5{style: "height: 100px;"}
  .col-3.bg-white.mx-1.d-flex.align-items-center
    .col-12
      %i.fab.fa-php.text-info
      = link_to "PHP", "#", class: "skill__btn"
  .col-3.bg-white.mx-1.d-flex.align-items-center
    .col-12
      %i.fab.fa-java.text-info
      = link_to "Java", "#", class: "skill__btn"
  .col-3.bg-white.mx-1.d-flex.align-items-center
    .col-12
      %i.fas.fa-database.text-info
      = link_to "SQL", "#", class: "skill__btn"
  .col-3.bg-white.mx-1.d-flex.align-items-center
    .col-12
      %i.fas.fa-laptop-code.text-info
      = link_to "その他", "#", class: "skill__btn"