!!!
%html{lang: "ja"}
  %head
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}/
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FirstSkillApp
    = csrf_meta_tags
    = csp_meta_tag
    %link{crossorigin: "anonymous", href: "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity: "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", rel: "stylesheet"}/
    %link{href: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css", rel: "stylesheet", type: "text/css"}/
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    
  %body.bg-light
    %nav.navbar.navbar-expand-md.navbar-dark.bg-info
      - unless user_signed_in?
        %button.navbar-toggler{"aria-controls" => "navbarsExampleDefault", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarsExampleDefault", "data-toggle" => "collapse", type: "button"}
          %span.navbar-toggler-icon
        #navbarsExampleDefault.collapse.navbar-collapse
          %nav.navbar.navbar-dark.bg-info.d-inline
            %i.navbar-brand.fas.fa-robot.ml-md-5
            = link_to "First Skill App", root_path, class: "navbar-brand app__title"
          .ml-auto.float-right
            = link_to "ログイン", new_user_session_path, class: "btn btn-outline-light mr-3"
            = link_to "無料登録", new_user_registration_path, class: "btn btn-light"
      - else
        %button.navbar-toggler{"aria-controls" => "navbarsExampleDefault", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarsExampleDefault", "data-toggle" => "collapse", type: "button"}
          %span.navbar-toggler-icon
        #navbarsExampleDefault.collapse.navbar-collapse
          %ul.navbar-nav.mr-auto
            %li.nav-item.active.d-flex
              %i.fas.fa-home.mt-3.ml-md-5.text-white
              = link_to "HOME", users_path, class: "nav-link home__btn"
              %span.sr-only (current)
          = form_with(url: search_plans_path, local: true, method: :get, class: "form-inline my-2 my-lg-0") do |f|
            = f.text_field :keyword, placeholder: "Rubyなどスキル名で検索", class: "search__btn"
            = f.submit "検索", class: "btn btn-light my-sm-0"
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-light ml-5"
    = yield
    %footer.d-flex.justify-content-start.bg-white 
      .footer__left.container.text-center.my-5
        %ul
          %li メンタ
          %li メンタ
          %li メンタ
          %li メンタ
          %li メンタ
      .footer__right.container.my-5
        %ul
          %li test
          %li test
          %li test
          %li test
          %li test
    %small.text-center.d-block.mb-3.bg-white &copy; 2020 tetsuya kojima

    %script{crossorigin: "anonymous", integrity: "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", src: "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
    %script{crossorigin: "anonymous", integrity: "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", src: "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"}
    %script{crossorigin: "anonymous", integrity: "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", src: "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"}
    %script{src: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js", type: "text/javascript"}
