-# この画面のみヘッダーとフッターを変更
!!!
%html{lang: "ja"}
  %head
    %meta{charset: "UTF-8"}/
    %title chat
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    .chatheader 
      %a{href: main_index_path, class: "go_to_main"} メイン画面へ戻る
    %main.chatmain
      .video 
        ビデオ
        .student__video 
          生徒用ビデオ
      .chats 
        .chats__message_user
          - @chats.each do |chat|
            .message
              .message_time
              = chat.created_at
              - if chat.content.present?
                %p.chats__content
                  = chat.content
                = image_tag chat.image.url, class: 'message__chat-image' if chat.image.present?
        = form_with model: @chat, url: chats_path, class: :chat__text_box , local: true do |form|
          .input_box 
            = form.text_field :content, class: :chat__text
            = form.label :image do
              = form.file_field :image, type: 'file', class: "image_btn"
              %i.fa.fa-camera
          = form.submit 'メッセージ', class: :chat__send_btn 
    